$accent-color : #424C55;
$text-color : #D1CCDC;
$background-color : #F5EDF0;

#author {
    justify-content: end;
}

.btn-primary {
    background-color:  $accent-color;
    color: $text-color;
    border-color: $accent-color;
}

.btn-primary:hover {
    background-color:  $text-color;
    color: $accent-color;
    border-color: $accent-color;
}

.content {
    padding: 5em;
    background-color: $background-color;
}

.flex-even {
    flex: 1;
}

.list-item-link, 
.title {
    color:  $accent-color;
}

.list-item-link:hover {
    color:  black;
}

.navbar {
    background-color: $accent-color;
}

.nav-link, 
.navbar-brand {
    color: $text-color;
}

.nav-link:hover, 
.navbar-brand:hover {
    color: $background-color;
}

.thead {
    background-color: #bcb7b9;
}
